{
 "env": "<environment-id>",
 "replace": {
  "<onedrive-drop-folder-id>": "<id of the OneDrive drop folder>",
  "https://contoso.sharepoint.com/sites/DataLanding": "https://<tenant>.sharepoint.com/sites/<site>",
  "<document-library-id>": "<guid of the document library>",
  "data-team@contoso.com": "<alert recipient>"
 },
 "connections": {
  "shared_onedriveforbusiness": "<connection name>",
  "shared_sharepointonline": "<connection name>",
  "shared_office365": "<connection name>"
 }
}
